<header>
  <a routerLink="/">
    <div id="tituloContainer">
            <img src="assets/img/pokeball-azul.svg" alt="Pokeball">
            <h1>Pokédex</h1>
            <img src="assets/img/pokeball-azul.svg" alt="Pokeball">
    </div>
  </a>
  <div id="PartyContainer">
    <a href="/pokemons">
      <img src="assets/img/pokeball-azul.svg">
      Party
    </a>
  </div>
    <div id="loginContainer">
      
      <div *ngIf="user$ | async as user; else notLoggedIn">
        <span class="text-light">Hola, <strong>{{ user.displayName }}</strong></span>
        <button class="btn btn-danger ms-2" (click)="logout()"><i class="bi bi-box-arrow-right"></i> <span class="d-none d-md-inline-flex ps-2">Cerrar sesión</span></button>
      </div>
      <ng-template #notLoggedIn>
        <button class="btn btn-primary me-2" (click)="loginWithGoogle()"><i class="bi bi-box-arrow-in-right"></i> <span class="d-none d-md-inline-flex ps-2">Iniciar sesión</span></button>
      </ng-template> 
       
    </div>
</header>