<div id="container">
    <div class="area">
        <app-tarjeta-pokemon></app-tarjeta-pokemon>
    </div>
    <div class="area">
        <p>
            <span class="etiqueta">Tipo</span>
            <br>
            <span *ngFor="let tipo of pokemon?.types" class="tipo">{{tipo.type.name}}</span>
        </p>
        <br> <!-- Añade un salto de línea para más espacio -->
        <a></a>
        <p>
            <span class="etiqueta">Altura</span>
            <br>
            {{pokemon?.height}}
        </p>
        <br> <!-- Añade un salto de línea para más espacio -->
        <p>
            <span class="etiqueta">Peso</span>
            <br>
            {{pokemon?.weight}}
        </p>
    </div>
    <div class="area">
        <div id="descripcionContainer">
            <div></div>
            <p>{{descripcion}}</p>
            <div></div>
        </div>
    </div>
</div>
