.container{
    height: calc(110vh - 110px);
    display: grid;
    
    /*
    background: linear-gradient(
        to right,
        #ff0044,
        #fd0c4c 20%,
        #ff1553 30%,
        #ff1f5a 40%,
        #ff2a63 50%,
        #ff366b 60%,
        #fc3f72 70%,
        #fd4c7b 80%,
        #ff5a86 90%,
        #fe658e 100%
    );
    */
    background-color: #fd4c7b;
}

.pokemon-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-control {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}
